<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackTab</key>
	<integer>25</integer>
	<key>Backspace</key>
	<integer>8</integer>
	<key>Begin</key>
	<integer>63274</integer>
	<key>Break</key>
	<integer>63282</integer>
	<key>CarriageReturn</key>
	<integer>13</integer>
	<key>ClearDisplay</key>
	<integer>63290</integer>
	<key>ClearLine</key>
	<integer>63289</integer>
	<key>Delete</key>
	<integer>127</integer>
	<key>DeleteChar</key>
	<integer>63294</integer>
	<key>DeleteLine</key>
	<integer>63292</integer>
	<key>DownArrow</key>
	<integer>63233</integer>
	<key>End</key>
	<integer>63275</integer>
	<key>Enter</key>
	<integer>3</integer>
	<key>Execute</key>
	<integer>63298</integer>
	<key>F1</key>
	<integer>63236</integer>
	<key>F10</key>
	<integer>63245</integer>
	<key>F11</key>
	<integer>63246</integer>
	<key>F12</key>
	<integer>63247</integer>
	<key>F13</key>
	<integer>63248</integer>
	<key>F14</key>
	<integer>63249</integer>
	<key>F15</key>
	<integer>63250</integer>
	<key>F16</key>
	<integer>63251</integer>
	<key>F17</key>
	<integer>63252</integer>
	<key>F18</key>
	<integer>63253</integer>
	<key>F19</key>
	<integer>63254</integer>
	<key>F2</key>
	<integer>63237</integer>
	<key>F20</key>
	<integer>63255</integer>
	<key>F21</key>
	<integer>63256</integer>
	<key>F22</key>
	<integer>63257</integer>
	<key>F23</key>
	<integer>63258</integer>
	<key>F24</key>
	<integer>63259</integer>
	<key>F25</key>
	<integer>63260</integer>
	<key>F26</key>
	<integer>63261</integer>
	<key>F27</key>
	<integer>63262</integer>
	<key>F28</key>
	<integer>63263</integer>
	<key>F29</key>
	<integer>63264</integer>
	<key>F3</key>
	<integer>63238</integer>
	<key>F30</key>
	<integer>63265</integer>
	<key>F31</key>
	<integer>63266</integer>
	<key>F32</key>
	<integer>63267</integer>
	<key>F33</key>
	<integer>63268</integer>
	<key>F34</key>
	<integer>63269</integer>
	<key>F35</key>
	<integer>63270</integer>
	<key>F4</key>
	<integer>63239</integer>
	<key>F5</key>
	<integer>63240</integer>
	<key>F6</key>
	<integer>63241</integer>
	<key>F7</key>
	<integer>63242</integer>
	<key>F8</key>
	<integer>63243</integer>
	<key>F9</key>
	<integer>63244</integer>
	<key>Find</key>
	<integer>63301</integer>
	<key>FormFeed</key>
	<integer>12</integer>
	<key>Help</key>
	<integer>63302</integer>
	<key>Home</key>
	<integer>63273</integer>
	<key>Insert</key>
	<integer>63271</integer>
	<key>InsertChar</key>
	<integer>63293</integer>
	<key>InsertLine</key>
	<integer>63291</integer>
	<key>LeftArrow</key>
	<integer>63234</integer>
	<key>LineSeparator</key>
	<integer>8232</integer>
	<key>Menu</key>
	<integer>63285</integer>
	<key>ModeSwitch</key>
	<integer>63303</integer>
	<key>Newline</key>
	<integer>10</integer>
	<key>Next</key>
	<integer>63296</integer>
	<key>PageDown</key>
	<integer>63277</integer>
	<key>PageUp</key>
	<integer>63276</integer>
	<key>Pause</key>
	<integer>63280</integer>
	<key>Prev</key>
	<integer>63295</integer>
	<key>Print</key>
	<integer>63288</integer>
	<key>PrintScreen</key>
	<integer>63278</integer>
	<key>Redo</key>
	<integer>63300</integer>
	<key>Reset</key>
	<integer>63283</integer>
	<key>RightArrow</key>
	<integer>63235</integer>
	<key>ScrollLock</key>
	<integer>63279</integer>
	<key>Select</key>
	<integer>63297</integer>
	<key>Stop</key>
	<integer>63284</integer>
	<key>SysReq</key>
	<integer>63281</integer>
	<key>System</key>
	<integer>63287</integer>
	<key>Tab</key>
	<integer>9</integer>
	<key>Undo</key>
	<integer>63299</integer>
	<key>UpArrow</key>
	<integer>63232</integer>
	<key>User</key>
	<integer>63286</integer>
</dict>
</plist>
