<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastWrittenDate</key>
	<dict>
		<key>acceptValueType</key>
		<string>NSDate</string>
		<key>name</key>
		<string>最終書き込み日時</string>
	</dict>
	<key>boardName</key>
	<dict>
		<key>acceptValueType</key>
		<string>NSString</string>
		<key>name</key>
		<string>掲示板の名前</string>
	</dict>
	<key>modifiedDate</key>
	<dict>
		<key>acceptValueType</key>
		<string>NSDate</string>
		<key>name</key>
		<string>最終読み込み日時</string>
	</dict>
	<key>numberOfAll</key>
	<dict>
		<key>acceptValueType</key>
		<string>NSNumber</string>
		<key>name</key>
		<string>レス数</string>
	</dict>
	<key>numberOfDifference</key>
	<dict>
		<key>acceptValueType</key>
		<string>NSNumber</string>
		<key>name</key>
		<string>差分</string>
	</dict>
	<key>numberOfRead</key>
	<dict>
		<key>acceptValueType</key>
		<string>NSNumber</string>
		<key>name</key>
		<string>既得レス数</string>
	</dict>
	<key>threadID</key>
	<dict>
		<key>acceptValueType</key>
		<string>NSDate</string>
		<key>name</key>
		<string>dat 番号</string>
	</dict>
	<key>threadName</key>
	<dict>
		<key>acceptValueType</key>
		<string>NSString</string>
		<key>name</key>
		<string>タイトル</string>
	</dict>
</dict>
</plist>
