<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2channel</key>
	<dict>
		<key>CGI - Read</key>
		<dict>
			<key>bbs</key>
			<string>bbs</string>
			<key>directory</key>
			<string>test</string>
			<key>directoryIndex</key>
			<integer>1</integer>
			<key>end</key>
			<string>to</string>
			<key>key</key>
			<string>key</string>
			<key>last</key>
			<string>ls</string>
			<key>name</key>
			<string>read.cgi</string>
			<key>nofirst</key>
			<string>nofirst</string>
			<key>relativePath</key>
			<string>../test/read.cgi</string>
			<key>start</key>
			<string>st</string>
			<key>true</key>
			<string>true</string>
		</dict>
		<key>CGI - Write</key>
		<dict>
			<key>FormKeys</key>
			<dict>
				<key>bbs</key>
				<string>bbs</string>
				<key>key</key>
				<string>key</string>
				<key>mail</key>
				<string>mail</string>
				<key>message</key>
				<string>MESSAGE</string>
				<key>name</key>
				<string>FROM</string>
				<key>submit</key>
				<string>submit</string>
				<key>time</key>
				<string>time</string>
			</dict>
			<key>name</key>
			<string>bbs.cgi</string>
			<key>relativePath</key>
			<string>../test/bbs.cgi</string>
			<key>submitValue</key>
			<string>書き込む</string>
		</dict>
		<key>DAT - Readable</key>
		<integer>1</integer>
		<key>DAT - RelativeDirectory</key>
		<string>./dat/</string>
		<key>identifier</key>
		<string>2channel</string>
		<key>name</key>
		<string>２ちゃんねる</string>
	</dict>
	<key>Be@2channel</key>
	<dict>
		<key>CGI - Read</key>
		<dict>
			<key>bbs</key>
			<string>bbs</string>
			<key>directory</key>
			<string>test</string>
			<key>directoryIndex</key>
			<integer>1</integer>
			<key>end</key>
			<string>to</string>
			<key>key</key>
			<string>key</string>
			<key>last</key>
			<string>ls</string>
			<key>name</key>
			<string>read.cgi</string>
			<key>nofirst</key>
			<string>nofirst</string>
			<key>relativePath</key>
			<string>../test/read.cgi</string>
			<key>start</key>
			<string>st</string>
			<key>true</key>
			<string>true</string>
		</dict>
		<key>CGI - Write</key>
		<dict>
			<key>FormKeys</key>
			<dict>
				<key>bbs</key>
				<string>bbs</string>
				<key>key</key>
				<string>key</string>
				<key>mail</key>
				<string>mail</string>
				<key>message</key>
				<string>MESSAGE</string>
				<key>name</key>
				<string>FROM</string>
				<key>submit</key>
				<string>submit</string>
				<key>time</key>
				<string>time</string>
			</dict>
			<key>name</key>
			<string>bbs.cgi</string>
			<key>relativePath</key>
			<string>../test/bbs.cgi</string>
			<key>submitValue</key>
			<string>書き込む</string>
		</dict>
		<key>DAT - Readable</key>
		<integer>1</integer>
		<key>DAT - RelativeDirectory</key>
		<string>./dat/</string>
		<key>SubjectEncoding</key>
		<integer>2336</integer>
		<key>ThreadEncoding</key>
		<integer>2336</integer>
		<key>identifier</key>
		<string>Be@2channel</string>
		<key>name</key>
		<string>BE@２ちゃんねる</string>
	</dict>
	<key>jbbs_shita</key>
	<dict>
		<key>CGI - Read</key>
		<dict>
			<key>bbs</key>
			<string>BBS</string>
			<key>directory</key>
			<string>bbs</string>
			<key>directoryIndex</key>
			<integer>2</integer>
			<key>end</key>
			<string>END</string>
			<key>key</key>
			<string>KEY</string>
			<key>last</key>
			<string>LAST</string>
			<key>name</key>
			<string>read.cgi</string>
			<key>nofirst</key>
			<string>NOFIRST</string>
			<key>relativePath</key>
			<string>../../bbs/read.cgi</string>
			<key>start</key>
			<string>START</string>
			<key>true</key>
			<string>TRUE</string>
		</dict>
		<key>CGI - Write</key>
		<dict>
			<key>FormKeys</key>
			<dict>
				<key>bbs</key>
				<string>BBS</string>
				<key>directory</key>
				<string>DIR</string>
				<key>key</key>
				<string>KEY</string>
				<key>mail</key>
				<string>MAIL</string>
				<key>message</key>
				<string>MESSAGE</string>
				<key>name</key>
				<string>NAME</string>
				<key>submit</key>
				<string>submit</string>
				<key>time</key>
				<string>TIME</string>
			</dict>
			<key>name</key>
			<string>write.cgi</string>
			<key>relativePath</key>
			<string>../../bbs/write.cgi</string>
			<key>submitValue</key>
			<string>書き込む</string>
		</dict>
		<key>DAT - Readable</key>
		<integer>0</integer>
		<key>HTML - AllowedTag</key>
		<string>a&lt;&gt;br&lt;&gt;</string>
		<key>HTML - DatePrefix</key>
		<string>投稿日：</string>
		<key>HTML - NamePrefix</key>
		<string>名前：</string>
		<key>HTML - mailto:</key>
		<string>mailto:</string>
		<key>SubjectEncoding</key>
		<integer>2336</integer>
		<key>ThreadEncoding</key>
		<integer>2336</integer>
		<key>identifier</key>
		<string>jbbs_shita</string>
		<key>name</key>
		<string>JBBS@したらば</string>
	</dict>
	<key>machibbs</key>
	<dict>
		<key>CGI - Read</key>
		<dict>
			<key>bbs</key>
			<string>BBS</string>
			<key>directory</key>
			<string>bbs</string>
			<key>directoryIndex</key>
			<integer>1</integer>
			<key>end</key>
			<string>END</string>
			<key>key</key>
			<string>KEY</string>
			<key>last</key>
			<string>LAST</string>
			<key>name</key>
			<string>read.pl</string>
			<key>nofirst</key>
			<string>NOFIRST</string>
			<key>relativePath</key>
			<string>../bbs/read.pl</string>
			<key>start</key>
			<string>START</string>
			<key>true</key>
			<string>TRUE</string>
		</dict>
		<key>CGI - Write</key>
		<dict>
			<key>FormKeys</key>
			<dict>
				<key>bbs</key>
				<string>BBS</string>
				<key>key</key>
				<string>KEY</string>
				<key>mail</key>
				<string>MAIL</string>
				<key>message</key>
				<string>MESSAGE</string>
				<key>name</key>
				<string>NAME</string>
				<key>submit</key>
				<string>submit</string>
				<key>time</key>
				<string>TIME</string>
			</dict>
			<key>name</key>
			<string>write.cgi</string>
			<key>relativePath</key>
			<string>../bbs/write.cgi</string>
			<key>submitValue</key>
			<string>書き込む</string>
		</dict>
		<key>DAT Readable</key>
		<integer>0</integer>
		<key>HTML - AllowedTag</key>
		<string>a&lt;&gt;br&lt;&gt;</string>
		<key>HTML - DatePrefix</key>
		<string>投稿日：</string>
		<key>HTML - NamePrefix</key>
		<string>名前：</string>
		<key>HTML - mailto:</key>
		<string>mailto:</string>
		<key>identifier</key>
		<string>machibbs</string>
		<key>name</key>
		<string>まちBBS</string>
	</dict>
	<key>shitaraba</key>
	<dict>
		<key>CGI - Read</key>
		<dict>
			<key>bbs</key>
			<string>bbs</string>
			<key>directory</key>
			<string>cgi-bin</string>
			<key>directoryIndex</key>
			<integer>0</integer>
			<key>end</key>
			<string>to</string>
			<key>key</key>
			<string>key</string>
			<key>last</key>
			<string>ls</string>
			<key>name</key>
			<string>read.cgi</string>
			<key>nofirst</key>
			<string>nofirst</string>
			<key>relativePath</key>
			<string>../../cgi-bin/read.cgi</string>
			<key>start</key>
			<string>st</string>
			<key>true</key>
			<string>true</string>
		</dict>
		<key>CGI - Write</key>
		<dict>
			<key>FormKeys</key>
			<dict>
				<key>bbs</key>
				<string>bbs</string>
				<key>key</key>
				<string>key</string>
				<key>mail</key>
				<string>mail</string>
				<key>message</key>
				<string>MESSAGE</string>
				<key>name</key>
				<string>FROM</string>
				<key>submit</key>
				<string>submit</string>
				<key>time</key>
				<string>time</string>
			</dict>
			<key>absolutePath</key>
			<string>http://cgi.shitaraba.com/cgi-bin/bbs.cgi</string>
			<key>name</key>
			<string>bbs.cgi</string>
			<key>submitValue</key>
			<string>書き込む</string>
		</dict>
		<key>DAT - Readable</key>
		<integer>1</integer>
		<key>DAT - RelativeDirectory</key>
		<string>./dat/</string>
		<key>SubjectEncoding</key>
		<integer>2336</integer>
		<key>ThreadEncoding</key>
		<integer>2336</integer>
		<key>identifier</key>
		<string>shitaraba</string>
		<key>name</key>
		<string>したらば</string>
	</dict>
</dict>
</plist>
